/*RoomPhoto*/
#boxes{
    min-height: 100px;
    padding: 40px;
    margin-top: 30px;
    margin-left: 10%;
}

#boxes img{
    width:500px;
    min-height:375px;
}

#boxes.box{
    float: left;
}

#boxes .box2{
    float:right;
    margin-left: 50px;
}

.container{
    display: flex;
}

/*form*/
.Reservation-form {
    padding:50px;
    margin:0 150px;
    color: black; 
}
.form-field{
    display: inline-table;
    justify-content:space-between;
}
.btn{
    background-color: black;
    color:#ebc42a;
    padding: 5px 15px;
    font-size: 15px;
    font-family:Arial;
    margin-left: 10em;
    margin-top: 20px;
    
}

